
.body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    font-family: "Open Sans", sans-serif;
  
    display: grid;
    place-items: center;
    background-color: #ffffff;
  }
  
  .front_card p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  li,
  ul {
    margin: 0;
    padding: 0;
  }
  
  .containerr {
    position: relative;
  }
  
  .front_card {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 450px;
    background-color: teal;
  
    display: flex;
  
    clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
    /*clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);*/
    transition: clip-path 0.5s ease;
  }
  
  .front_card > .login_form {
    opacity: 1;
    transition: opacity 0.2s linear;
  }
  
  .front_card > .signup_form {
    opacity: 0;
    transition: opacity 0.2s linear;
  }
  
  .front_card.front_card_signup > .login_form {
    opacity: 0;
  }
  
  .front_card.front_card_signup {
    clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
  }
  
  .front_card.front_card_signup > .signup_form {
    opacity: 1;
  }
  
  .front_card form {
    color: #f8f9fa;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 20px;
  }
  
  .back_card {
    width: 650px;
    height: 350px;
    background-color: teal;
    display: flex;
  }
  
  .back_card > div {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .back_card > div > h2 {
    color: #f3f3f3;
    margin-bottom: 20px;
  }
  
  .front_card input[type="text"],
  input[type="email"],
  input[type="password"] {
    outline: none;
    font-size: 13px;
    border-radius: 4px;
    font-family: "Open Sans", sans-serif;
    padding: 12px 10px;
    font-weight: 400;
    width: 100%;
    box-sizing: border-box;
    background: #110e1b;
    color: #f3f3f3;
    border: 1px solid #7c162e;
  }
  
  .front_card input:focus {
    border: 1px solid #f3f3f3;
  }
  
  .front_card button, .signup_msg_btn {
    border: none;
    box-shadow: none;
    font-family: "Open Sans", sans-serif;
    background-color: #f3f3f3;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }
  